.variety{
    padding-top:40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgba(233, 231, 231, 0.664);
    display: flex;
    flex-direction: column;
    gap:40px;
}
.variety>span{
    font-size:30px;
    font-weight: 500;
}
.new_varity{
    display:flex;
    gap:50px;
}
.variety_img{
    border-radius: 50%;
    height:150px;
}
.variety_box{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}