.offer{
    border:1px solid rgb(219, 219, 219);
    padding:15px;
    border-radius: 14px;
}
.offerbox{
    display:flex;
    align-items: center;
    gap:10px;
}
.offer>span{
   color:grey;
   font-size:12px;
}
.offer_heading{
    color: rgb(63, 63, 63);
    font-weight: 700;
    font-size: 16px;
}