.Brands{
    padding-top:40px;
    padding-bottom: 40px;
    padding-left: 70px;
    padding-right: 70px;
    display: flex;
    flex-direction: column;
    gap:40px;
}
.Brands>span{
    font-size:30px;
    font-weight: 500;
}
.new_Brands{
    display:flex;
    gap:50px;
}
.Brands_img{
    border-radius: 50%;
    height:150px;
}
.Brands_box{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}