.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 100px;
    /* Add any additional styling for the grid container */
}
.allcard_container{
    display:flex;
    align-items: center;
    justify-content: center;
}